/* src/styles/base.css */

@layer base {
    body {
        @apply bg-background text-text-main transition-colors antialiased duration-300;
        font-family: var(--font-base);
        text-rendering: optimizeLegibility;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary/50 rounded-full transition-colors;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
}


@keyframes spin-once {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.animate-spin-once {
    animation: spin-once 0.5s ease-in-out;
}

@keyframes scale-in {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scale-in {
    animation: scale-in 0.2s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
}