<!-- src/app/home/home.component.html -->

<div class="h-dvh flex flex-col bg-background text-text-main overflow-hidden transition-colors">

    <app-header (toggleConfig)="configOpenMobile.set(!configOpenMobile())" (exportJson)="onExportJson()"
        (exportMd)="onExportMd()" (copyChat)="onCopyChat()">
    </app-header>

    <div class="flex-1 flex overflow-hidden relative">

        <!-- WRAPPER DEL SIDEBAR -->
        <div class="z-40 shrink-0 h-full">
            <app-sidebar [isOpenMobile]="configOpenMobile()" (closeMobile)="configOpenMobile.set(false)"></app-sidebar>
        </div>

        <!-- OVERLAY -->
        @if (configOpenMobile()) {
        <div (click)="configOpenMobile.set(false)"
            class="lg:hidden fixed inset-0 bg-black/50 z-30 transition-opacity duration-300"></div>
        }

        <!-- CHAT AREA -->
        <main class="flex-1 flex flex-col min-w-0 bg-background relative transition-colors">

            <!-- WRAPPER DEL LAYOUT -->
            <div class="flex-1 flex overflow-hidden">
                <app-chat-layout class="flex-1 flex w-full"></app-chat-layout>
            </div>

            <!-- WRAPPER DEL INPUT -->
            <div class="shrink-0 w-full">
                <app-chat-input></app-chat-input>
            </div>

        </main>

    </div>
</div>
