<!-- src/app/home/home.component.html -->

@if (sessionStore.isLoaded() && providerStore.isLoaded()) {

<div class="h-dvh flex flex-col bg-background text-text-main overflow-hidden transition-colors">

    <app-header (toggleConfig)="configOpenMobile.set(!configOpenMobile())" (exportJson)="onExportJson()"
        (exportMd)="onExportMd()" (copyChat)="onCopyChat()">
    </app-header>

    <div class="flex-1 flex overflow-hidden relative">

        <!-- SIDEBAR -->
        <div class="z-40 shrink-0 h-full">
            <app-sidebar [isOpenMobile]="configOpenMobile()" (closeMobile)="configOpenMobile.set(false)"></app-sidebar>
        </div>

        <!-- OVERLAY -->
        @if (configOpenMobile()) {
        <div (click)="configOpenMobile.set(false)"
            class="lg:hidden fixed inset-0 bg-black/50 z-30 transition-opacity duration-300"></div>
        }

        <!-- CHAT AREA -->
        <main class="flex-1 flex flex-col min-w-0 bg-background relative transition-colors">

            <!-- LAYOUT -->
            <div class="flex-1 flex overflow-hidden">
                <app-chat-layout class="flex-1 flex w-full"></app-chat-layout>
            </div>

            <!-- INPUT -->
            <div class="shrink-0 w-full">
                <app-chat-input></app-chat-input>
            </div>

        </main>

    </div>
</div>

} @else {

<!-- LOADER -->
<div class="h-dvh flex items-center justify-center bg-background">
    <div class="flex flex-col items-center gap-4">
        <div class="w-8 h-8 border-4 border-primary border-t-transparent rounded-full animate-spin"></div>
        <p class="text-text-muted font-medium animate-pulse">Cargando entorno seguro...</p>
    </div>
</div>

}